.post {
    background-color: white;
    border: 1px solid lightgrey;
    margin-bottom: 45px;
}

.post-image {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.post-text {
    font-weight: normal;
    padding: 15px 20px;
}

.post-header {
    display: flex;
    align-items: center;
    padding: 15px 20px;
}