.feed-full{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 120px;
    /* padding: 5px; */
}

.no-content {
    height: 500px;
}

@media screen and (min-width: 500px) {
    .feed-full{
        justify-content: center;
        text-align: center;
    }
    
}