.feed-full{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    position: relative;
}

@media screen and (max-width:600px) {
    .feed-full {
        padding-top: 20px;
    }
}

