 @import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'PT Sans Narrow', sans-serif;
}

:root{
    --color-bg:  rgb(84, 94, 66);
    --color-bg-alt: rgb(161, 183, 212);
    --color-bg-alt-two: rgb(127, 137, 100)
    --color-main: rgb(161, 107, 92)
    --color-outline: rgb((224, 193, 149) 0.172);
}

body {
  color: #262626;
  font-size: 14px;
  line-height: 18px;
}
