button {
    line-height: 18px;
    cursor: pointer;
    border: 1px solid transparent;
}

.full-bottom {
    position: sticky;
    z-index: 500;
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 80px;
    left: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid lightgray;
}

.bottom-footer {
    font-size:xx-large;
    font-weight: bolder;
}
.bottom-footer-buttons {
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
}

.pencil {
    background-color: white;

}
