button {
    line-height: 18px;
    cursor: pointer;
    border: 1px solid transparent;
}

.full-bottom {
    position: fixed;
    z-index: 500;
    width: 100%;
    background-color: white;
    height: 80px;
    left: 0px;
    bottom: 0px;
}

.bottom-footer {
    height: 54px;
    display: flex;
    align-items: center;
    object-fit: contain;
    border-top: 1px solid lightgray;
    font-size:xx-large;
    font-weight: bolder;
}

.bottom-footer-wrapper {
    max-width: 975px;
    margin: 0 auto;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom-footer-buttons {
    display: flex;
    column-gap: 15px;
    padding-top: 20px;
}

.pencil {
    background-color: white;

}
