button {
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;
    border: 1px solid transparent;
}

.full-top {
    position: fixed;
    z-index: 500;
    width: 100%;
    background-color: white;
    margin-bottom: 20px;
}

.top-header {
    top: 0;
    height: 54px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.top-header-wrapper {
    max-width: 975px;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size:xx-large;
    font-weight:900;
    display: flex;
    gap: 4px;
    flex-direction:row-reverse;
    justify-self: flex-start;
    align-items: center;
    color: rgb(101, 195, 195);
}

.boots {
    padding-bottom: 6px;
    font-size: 50px;
}

.profile-icon {
    padding: 6px;
    font-size: 50px;
}

.logo span:hover {
    color: rgb(101, 195, 195);
}

.text-button-logout {
    color: black;
    background-color: white;
    font-weight: bolder;   
}

@media screen and (max-width:600px) {
    .full-top {
        display: flex; 
    }
    
    #app-name{
        color: transparent;
        font-size: 1px;
    }

    .top-header {
        top: 0;
        height: 54px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border-bottom: 1px solid lightgray;
    }
    .top-header-wrapper {
        justify-content: flex-end;
        gap: 4px;
    }

    .boots {
        margin-left: 20px;
        padding-top: 4px;
        font-size: 50px;
    }
    
    .profile-icon {
        font-size: 50px;
    }
}





