 @import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root{
    --color-bg: rgb(231, 187, 10);
    --color-bg-alt: rgb(126, 111, 115);
    --color-bg-alt-two: rgb(231, 187, 10);
    --color-main: rgb(52, 40, 40);
    --color-outline: rgb(227, 10, 231, 0.172);
}

body {
  font-family: 'PT Sans Narrow', sans-serif;
  background: var(--color-bg);
  color: var(--color-main);
}
