html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root{
    --color-bg: rgb(245, 226, 139);
    --color-bg-alt: rgb(139, 245, 243);
    --color-main: rgb(89, 89, 89);
}

body {
  background: var(--color-bg);
  color: var(--color-main);
}
