.post-individual-full {
    border-radius: 2px;
    box-shadow: 0px 0px 5px 0px var(--color-outline);
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.post-individual-full:hover {
    border: transparent black 1px;
}

.post-individual-header {
    background: var(--color-bg-alt-two);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    border-radius: 2px;
    box-shadow: 0px 0px 5px 0px var(--color-outline);
    font-weight: bolder;
}

.profile-photo {
    border-radius: 100%;
    height: 4rem;
    width: 4rem;
    border: 2px solid var(--color-bg-alt);
}

.post-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.post-photo {
    object-fit: cover;
    width: 100%;
}

.post-individual-middle{
    background: var(--color-bg-alt-two);
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    padding-top: 5px;
}

.post-button {
    color: var(--color-bg-alt);
    background-color: var(--color-bg-alt-two);
    padding-right: 10px; padding-left: 5px;
    font-size: 25px;
}

.post-button:hover {
    color: black;
}

.post-individual-comment {
    background: var(--color-bg-alt-two);
    padding: 10px;
    font-size:18px;
}

.post-individual-comment span {
    font-weight: bolder;
}

.post-individual-likes{
    background: var(--color-bg-alt-two);
    padding-left: 10px;
}

.post-individual-likes span {
    font-weight: bolder;
    font-size: 19px;
}
